<!DOCTYPE html>

<html>
    <head>
        {{>header}}
        <link rel="stylesheet" href = "../index.css">
        {{!-- <h2> {{title}} </h2> </head> --}}
    <body>
            <h2>Temperature : {{temperature}}<br>Feels Like: {{feelslike}}<br>Location : {{location}}<br>Address : {{address}}</h2>
            {{>footer}}
    </body>
</html>