<!DOCTYPE html>

<html>
    <head>
        {{!-- Partial named header.hbs is used below--}}
        {{>header}}
        <link rel="stylesheet" href = "../index.css">
        {{!-- <h2> {{title}} </h2> </head> --}}
    <body>
            {{! All th below values are provided from app.js(src)}}
            <h2>Temperature : {{temperature}}<br>Feels Like: {{feelslike}}<br>Location : {{location}}<br>Address : {{address}}</h2>
            {{!-- Partial named footer.hbs is used below--}}
            {{>footer}}
    </body>
</html>